extends _core
block head
  +makeHead("Links")

block main
  div(data-webele="frontBG")
    div(data-webele="linkArea")
      img(data-webele="linkArea-img" src=path.img + "page/products/1.jpg")
      p(data-webele="linkArea-text")="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"

  div(data-webele="frontBG")
    div(data-webele="linkArea")
      img(data-webele="linkArea-img" src=path.img + "page/products/1.jpg")
      p(data-webele="linkArea-text")="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"

  div(data-webele="frontBG")
    div(data-webele="linkArea")
      img(data-webele="linkArea-img" src=path.img + "page/products/1.jpg")
      p(data-webele="linkArea-text")="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"

  div(data-webele="frontBG")
    div(data-webele="linkArea")
      img(data-webele="linkArea-img" src=path.img + "page/products/1.jpg")
      p(data-webele="linkArea-text")="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"
