extends _core
block head
  +makeHead("Products")

block main
  .frontBG(data-webele="frontBG")
    .productsInfoArea(data-webele="productsInfoArea")
      div(data-webele="headline")
        text="躾のなってない娘をデカマラで従順にする話"
      img(data-webele="productsInfo-img" src=path.img + "page/products/1.jpg" width="100%")
      div(data-webele="productsInfo-textArea")
        p(data-webele="productsInfo-text")
          ="大切にしてきた家族に裏切られた主人公。"
          br
          ="裏切り者の娘ツグハを前にしてその怒りは爆発する"
          br
          br
          ="容赦なくツグハを犯しつくし、主人公は親子の関係をねじ潰す。"
          br
          ="それでも腹の無視が治まらない主人公はさらに過激な性交を重ねていく。"
          br
        p(data-webele="productsInfo-author")
          ="原画：R44"
          br
          ="シナリオ：ゴマシオ"

  .frontBG(data-webele="frontBG")
    .productsInfoArea(data-webele="productsInfoArea")
      div(data-webele="headline")
        text="躾のなってない娘をデカマラで従順にする話"
      img(data-webele="productsInfo-img" src=path.img + "page/products/1.jpg" width="100%")
      div(data-webele="productsInfo-textArea")
        p(data-webele="productsInfo-text")
          ="大切にしてきた家族に裏切られた主人公。"
          br
          ="裏切り者の娘ツグハを前にしてその怒りは爆発する"
          br
          br
          ="容赦なくツグハを犯しつくし、主人公は親子の関係をねじ潰す。"
          br
          ="それでも腹の無視が治まらない主人公はさらに過激な性交を重ねていく。"
          br
        p(data-webele="productsInfo-author")
          ="原画：R44"
          br
          ="シナリオ：ゴマシオ"

  .frontBG(data-webele="frontBG")
    .productsInfoArea(data-webele="productsInfoArea")
      div(data-webele="headline")
        text="躾のなってない娘をデカマラで従順にする話"
      img(data-webele="productsInfo-img" src=path.img + "page/products/1.jpg" width="100%")
      div(data-webele="productsInfo-textArea")
        p(data-webele="productsInfo-text")
          ="大切にしてきた家族に裏切られた主人公。"
          br
          ="裏切り者の娘ツグハを前にしてその怒りは爆発する"
          br
          br
          ="容赦なくツグハを犯しつくし、主人公は親子の関係をねじ潰す。"
          br
          ="それでも腹の無視が治まらない主人公はさらに過激な性交を重ねていく。"
          br
        p(data-webele="productsInfo-author")
          ="原画：R44"
          br
          ="シナリオ：ゴマシオ"
